#art { 
  border: 1px solid #000;
}
#tempCanvas { 
  border: 1px solid #000;
}
body{background-color:#ebebeb; cursor:crosshair;}
#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset {
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}
.type{
  margin-top: 10px;
  margin-left: 5px;
  float: left;
  cursor: pointer;
}
.color {
  width: 40px;
  height: 20px;
  float: left;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}
#ebebeb {
  background-color: #ebebeb;
}
#rainbow {
  background-color:cyan;
  margin-right: 20px;
}