@charset "UTF-8"; 
  
* { margin:0; padding:0; } 

body { 
  color:#d7d7d7; 
  font-family:"Belle","Comic Sans MS", cursive; 
  font-size:25px; 
  line-height:27px;} 
  
#save{
  font-size:12px; 
  background-color: #CEDFEF;
  color: blue;
}
#wrapper { 
  position:relative; 
  width:960px; 
  margin:0 auto; 
  padding-top:75px;} 
  
  #blackboardPlaceholder {
  width:924px; 
  height:599px; 
  margin:0 auto; 
  padding:14px 0 75px 14px; 
  cursor:crosshair; 
}
#loadfile{
  position:absolute; 
  margin-top:550px;
}
#drawingCanvas { 
    position:absolute; 
    border:none; 
    color:#FFF; 
    overflow:hidden; 
    background-color:transparent; 
    } 
   #tempCanvas { position: absolute; width:897px; height:532px; overflow:hidden; }

#selector { 
 position:absolute; 
 z-index:99999;
 top:50px;
 margin-left:10px; 
 cursor:pointer;
 } 
select { 
 position:absolute;
 font-family:Verdana, Geneva, sans-serif; 
 font-size:12px; 
 background-color:#EAEAEA; 
 }

 #stroke-subtract { 
    position:absolute; 
    top:436px; 
    left:-13px; 
    z-index:999999; 
    cursor:pointer; 
    } 
   #stroke-add { 
      position:absolute; 
      top:436px; 
      left:5px; 
      z-index:999999; 
      cursor:pointer; 
      } 
   #strokeWeight { 
    background:url(../images/stroke-style.png) no-repeat; 
    width:43px; 
    height:153px; 
    position:absolute; 
    top:456px; 
    left:-18px; 
    z-index:1; 
    padding:8px 0 0 7px; 
    } 
   .stroke { cursor:pointer; margin-bottom:3px; }

   #buttons {
    position: absolute;
    top: 5px;
    left: 10px;
  }
  #convertpngbtn {
    margin-top: 5px;
    margin-left: 10px;
    float: left;
  }
  #resetbtn {
    margin-top: 5px;
    margin-left: 10px;
    float: left;
  }
  .type{
    margin-top: 10px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
  }
  .font{
    width: 100px;
    height: 30px;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
  }
  .color {
    width: 40px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-align: center;
  }
  #red {
    background-color: red;
  }
  #blue {
    background-color: blue;
  }
  #green {
    background-color: green;
  }
  #purple {
    background-color: purple;
  }
  #yellow {
    background-color: yellow;
  }
  #orange {
    background-color: orange;
  }
  #pink {
    background-color: pink;
  }
  #black {
    background-color: black;
  }
  #white {
   background-color: white;
  }
  #ebebeb {
    background-color: #ebebeb;
  }
  #rainbow {
    background-color:cyan;
    margin-right: 20px;
  }